#;*****************************************************************************
#;
#; Copyright (C) 2023 Advanced Micro Devices, Inc. All rights reserved.
#;
#;******************************************************************************

config BOARD_NPCX4MNX_MDSAERIS
	bool "AMD NPCX4MNX Medusa FP10 AERIS CRB"
	depends on SOC_NPCX4M8F
