#;*****************************************************************************
#; * Copyright (C) 2023 Advanced Micro Devices, Inc. All rights reserved.
#; ******************************************************************************
#; */


CONFIG_SOC_NPCX4M8F=y
CONFIG_SOC_SERIES_NPCX4=y
CONFIG_BOARD_NPCX4MNX_MDSPLUM_ECMODULE=y
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_RTOS_TIMER=y
CONFIG_CLOCK_CONTROL=y
CONFIG_GPIO=y
CONFIG_PINCTRL=y
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_ADC=n
CONFIG_PWM=n
CONFIG_PWM_NPCX=n
CONFIG_SENSOR=y
CONFIG_I2C=y
CONFIG_I2C_INIT_PRIORITY=60
CONFIG_ESPI=y
CONFIG_BBRAM=y
CONFIG_BBRAM_NPCX=y
CONFIG_SPI=n
CONFIG_SPI_ASYNC=n
CONFIG_REBOOT=y
CONFIG_SMCHOST_EVENT_DRIVEN_TASK=y
CONFIG_LOG=y
CONFIG_FAN_RPM_CONTROL=n
CONFIG_ASSERT=n
CONFIG_FLASH_SIZE=288
CONFIG_ESPI_TAF_AUTO_MODE=y

CONFIG_LOG_PROCESS_THREAD_CUSTOM_PRIORITY=y
CONFIG_LOG_PROCESS_THREAD_PRIORITY=2

# Enable NPCX firmware header
CONFIG_NPCX_HEADER=n
CONFIG_NPCX_IMAGE_OUTPUT_HEX=y
CONFIG_NPCX_HEADER_SPI_MAX_CLOCK_50=n
CONFIG_NPCX_HEADER_SPI_READ_MODE_DUAL=n

# Clock configuration
CONFIG_CLOCK_CONTROL=y

# General Kernel Options
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=15000000

# UART Driver
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_ASYNC_API=y
CONFIG_UART_NPCX_USE_MDMA=y

#SHELL
#---------------------
CONFIG_SHELL=n
CONFIG_SHELL_CMDS=n
CONFIG_SHELL_HISTORY=n
CONFIG_SHELL_BACKEND_SERIAL=n
CONFIG_REBOOT_SHELL=n
CONFIG_NVOPTION_SHELL=n
CONFIG_AMD_MEMORY_SHELL=n
CONFIG_AMD_GPIO_SHELL=n
CONFIG_AMD_SPIFLASH_SHELL=n

#EEPROM
#---------------------
CONFIG_AMD_EEPROM_SHELL=n

#SVI
#---------------------
CONFIG_VR_CONFIG_TABLE=y

#Power and battery management
#---------------------
CONFIG_BATTERY_MANAGEMENT=y
CONFIG_POWER_SOURCE_MANAGEMENT=y

#UDC management
#---------------------
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UDC_MANAGEMENT=y
CONFIG_POWER_MONITOR=n
CONFIG_MODBUSRTU=n

#IO expander support
#---------------------
CONFIG_IO_EXPANDER=y

#EC KEYBOARD AND PS2 DEVICE
#---------------------
CONFIG_KSCAN=y
CONFIG_KSCAN_EC=y
CONFIG_EC_AMDCRB_KEYBOARD=y
CONFIG_GPIO_KSO_DRIVE=n
CONFIG_KSCAN_NPCX_KSO_HIGH_DRIVE=n
CONFIG_PS2=n
CONFIG_PS2_KEYBOARD=n
CONFIG_PS2_MOUSE=n

# EC FW features configuration
# ! Don't enable ESPI_PERIPHERAL_UART,
# ! UDC management will config this port.
# ----------------------------
CONFIG_ESPI_PERIPHERAL_UART=y
CONFIG_ESPI_PERIPHERAL_UART_SOC_MAPPING=0

#Code and Data Relocation
#---------------------
CONFIG_HAVE_CUSTOM_LINKER_SCRIPT=y
CONFIG_CUSTOM_LINKER_SCRIPT="linker_amdecver.ld"

#----------------------
# EC FW requires eSPI driver OOB Rx callback
CONFIG_ESPI_OOB_CHANNEL_RX_ASYNC=y
# Enable support for OOB Manager
CONFIG_OOBMNGR_SUPPORT=y
CONFIG_ECDBGI_SUPPORT=y
CONFIG_S0S_TEST=y
CONFIG_ECDBGI_ESPI_PC_BUS_MASTER_TEST=y
CONFIG_ECDBGI_ESPI_VW_INFORMATION=y
CONFIG_ECDBGI_ESPI_SLAVE_CAPABILITIES=y
CONFIG_ECDBGI_ESPI_FA_TEST=y
CONFIG_ECDBGI_ESPI_OOB_TEST=y
#----------------------
#SFH and I2C target device
#---------------------
CONFIG_I2C_TARGET=n
CONFIG_SFH=n

#Power save configuration
#---------------------
CONFIG_SLEEP=y
CONFIG_PSL=y

#eSPI SAF configuration
#---------------------
CONFIG_ESPI_SAF=n
CONFIG_ESPI_TAF_NPCX=y
CONFIG_ESPI_TAF_PR_NUM=16
CONFIG_ESPI_TAF_AUTO_MODE=y
CONFIG_SAF_ENABLE_XIP=n
CONFIG_SAF_SPI_WINBOND=n
CONFIG_SAF_SPI_GIGADEVICE=n

#Selectable DAC VALUE SUPPORT
#---------------------
CONFIG_SELECTABLE_DAC_VALUE=y

#SPI FLASH configuration
CONFIG_ESPI_FLASH_CHANNEL=y
CONFIG_FLASH_NPCX_FIU_SUPP_DRA_4B_ADDR=y
CONFIG_FLASH_EX_OP_ENABLED=y
CONFIG_FLASH_JESD216_API=y
CONFIG_FLASH=y
CONFIG_FLASH_NPCX_FIU_QSPI=y
CONFIG_ESPI_PERIPHERAL_ACPI_SHM_REGION=y
CONFIG_ESPI_PERIPHERAL_ACPI_SHM_REGION_PORT_NUM=0xFEC20200
CONFIG_NPCX_HEADER_SPI_MAX_CLOCK_50=y
CONFIG_NPCX_HEADER_CORE_CLOCK_SPI_CLOCK_RATIO_2=y
CONFIG_ESPI_PERIPHERAL_EC_HOST_CMD=y
CONFIG_ESPI_PERIPHERAL_HOST_CMD_DATA_PORT_NUM=0x668
CONFIG_ESPI_PERIPHERAL_ACPI_DATA_PORT_NUM=0x662
CONFIG_ESPI_NPCX_PERIPHERAL_SHAW3=y
CONFIG_ESPI_NPCX_PERIPHERAL_SHAW3_BASE=0x3F8
CONFIG_ESPI_NPCX_PERIPHERAL_SHAW3_IO=y
CONFIG_ESPI_NPCX_PERIPHERAL_SHAW3_SIZE=8

# AMD Thermal app
CONFIG_APP_THERMAL=y

#Kernel thread management support
# CONFIG_THREAD_MONITOR=y
CONFIG_THREAD_RUNTIME_STATS=y
# CONFIG_THREAD_RUNTIME_STATS_USE_TIMING_FUNCTIONS=n
# CONFIG_SCHED_THREAD_USAGE=y

#TIPD controller select
#---------------------
CONFIG_USBC_TIPD_TPS6699X=y
CONFIG_USBC_TIPD_TPS6599X=n

CONFIG_EC_MODULE=y