# Copyright (C) 2023 Advanced Micro Devices, Inc. All rights reserved.


CONFIG_SOC_NPCX4M8F=y
CONFIG_SOC_SERIES_NPCX4=y
CONFIG_BOARD_npcx4mnx_boot=y
CONFIG_FLASH_SIZE=64
# Enable NPCX firmware header
CONFIG_NPCX_HEADER=n
CONFIG_NPCX_IMAGE_OUTPUT_HEX=n
CONFIG_NPCX_HEADER_SPI_MAX_CLOCK_50=n
CONFIG_NPCX_HEADER_SPI_READ_MODE_DUAL=n
CONFIG_FLASH_SIZE=64
#mcu boot
CONFIG_FLASH_NPCX_FIU_NOR=y


# Enable MPU
CONFIG_ARM_MPU=y

# Clock configuration
CONFIG_CLOCK_CONTROL=y

# General Kernel Options
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=15000000

# UART Driver
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_ASYNC_API=n
CONFIG_UART_NPCX_USE_MDMA=n

# GPIO Driver
CONFIG_GPIO=y

# Pin Controller Driver
CONFIG_PINCTRL=y

# Console Driver
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# SPI Flash
CONFIG_FLASH=y
CONFIG_FLASH_NPCX_FIU_QSPI=y
CONFIG_FLASH_JESD216_API=y


